body{
    color:3FFF00;
    text-align: center;
    background-image: url(https://wpmisc.com/sites/default/files/wallpaper/nature/72729/pink-color-rose-hd-wallpapers-72729-707180.png)
        
}
header{
    text-align: center;
}